<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= render 'layouts/rails_default' %> <!-- パーシャルを呼び出し -->
  </head>
  <body>
    <%= render 'layouts/header' %> <!-- ヘッダーのパーシャル -->
    <div class="container">
      <%= yield %> <!-- ページごとのコンテンツ -->
      <%= render 'layouts/footer' %> <!-- フッターのパーシャル -->
    </div>
  </body>
</html>
